body {
    background-color: #1d1d1d;
    font-family: 'Exo 2';
}
/* h1,h2,h3,h4,h5,h6 {
   
} */

.signup-button {
    background-color: #03DAC6;
    font-weight: bold;
}

.login-button {
    background-color: #03DAC6;
    font-weight: bold;
}

.save-task-button {
    background-color: #03DAC6;
}


.task-container {
    display:inline;
}

.inline-text {
    display:inline-block;
}

.time-remaining {
    color: #03DAC6;
}