body {
    background-color: #1d1d1d;
    font-family: 'Exo 2';
}
/* h1,h2,h3,h4,h5,h6 {
   
} */
a {
    text-decoration: none;
    color: #ffffff;
}
.signup-button {
    background-color: #03DAC6;
    font-weight: bold;
}

.login-button {
    background-color: #03DAC6;
    font-weight: bold;
}

.save-task-button {
    background-color: #03DAC6;
}


.task-container {
    display:inline;
}

.inline-text {
    display:inline-block;
}

.time-remaining {
    color: #03DAC6;
}

.create-task-btn {
    color: #ffffff;
    border: 1px solid #03DAC5;
    background-color: #212529;
    padding: 10px 20px;
}

.create-task-btn:hover {
    border: 1px solid #1964cc;
    transition: 0.6s;
}
.no-tasks-show-completed-tasks-btn {
    color: #ffffff;
    border: 1px solid #03DAC5;
    background-color: #212529;
    padding: 10px 20px;
}

.no-tasks-show-completed-tasks-btn:hover {
    border: 1px solid #1964cc;
    transition: 0.6s;
}

.update-task-btn {
    color: #ffffff;
    border: 1px solid #03DAC5;
    background-color: #212529;
    padding: 10px 20px;
}
.delete-task-btn {
    color: #ffffff;
    border: 1px solid #03DAC5;
    background-color: #212529;
    padding: 10px 20px;
}
.update-task-btn:hover {
    border: 1px solid #1964cc;
    transition: 0.6s;
}
.delete-task-btn:hover {
    border: 1px solid #1964cc;
    transition: 0.6s;
}
.swal-modal {
    background-color: #212529;
    border: 2px solid white;
  }
.swal-text {
    color: #fff;
  }
.swal-button {
    padding: 11px 22px;
    border-radius: 2px;
    background-color: #212529;
    font-size: 15px;
    border: 1px solid #03DAC5;
    color: #fff;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
    margin-right: 11.2em;
}
.swal-button:hover {
    border: 1px solid #1964cc !important;
    background-color: #212529 !important;
    transition: 0.6s;
}
.swal-icon--success::before,.swal-icon--success__hide-corners,.swal-icon--success::after {
    background-color: #212529;
}

.return-home-btn {
    color: #ffffff;
    border: 1px solid #03DAC5;
    background-color: #212529;
    padding: 10px 20px;

}

.return-home-btn:hover {
    border: 1px solid #1964cc;
    transition: 0.6s;
}